
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Styles */
body {
   font-family: kanit;
    margin: 0;
    padding: 0;
    background-color: #f2f4f7;
    color: #080809;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
/*
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*/
header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.nav-links .menu-center {
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;

}
.nav-links .menu-setting{
    display: flex;
    
}
.nav-links .menu-setting h4{
    display: none;
    
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
.language-switcher{
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}
.theme-toggle {
    display: flex;
    align-items: center;
}

/* Sections */
.section {
    padding: 50px 0;
   
}
.section #education,#work-experience{
    padding: 50px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}
.section#about .container{
    display: flex
;
    align-items: center;
    justify-content: center;

}
.section#about .container #left{
   
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 2rem;
    margin-right: 4rem;
}
.section#about .container .hello{
    border: 1px solid #111;
    border-radius: 5px;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-bottom: 1.5rem;

}
.section#about .container .hello P{
    margin: 0;
    font-size: 1.5rem;
}

.section#about .container #left .name h1 {
    font-size: 4rem;
    margin: 0 ;
}

.section#about .container #left .skill{
    margin-top: 1rem;
    display: inline;
    
}
.section#about .container #left .skill .fa-brands,.fa-solid{
    transition: .3s;
}
.section#about .container #left .skill .fa-brands:hover,.fa-solid:hover{
transform: scale(1.5);
    
}

.section#about .container #left .description P{
    font-size: 1rem;
    margin: 0  ;
    color: #a0a0a0;
    margin-bottom: 1rem
    ;
}
.section#about .container #rigth img{
    width: 22rem;
    border-radius: 50%;
   
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project-grid {
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    display: flex
    ;
    */
        display: flex;
        gap: 20px;
        flex-direction: column;
        
}

.project-item {
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    padding: 20px;
    border-radius: 5px;

}
.project-item .data {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-item P{
    margin: 0;
    color: #65686c;
    margin: 0;
    font: 0.8rem;
}
.project-item h3{
margin: 0;
font: 1rem;
}
.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-list li {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.section#experience {
    display: flex;
    justify-content: center
      
}
.section#experience .containers{
    display: flex  ;
        flex-direction: row;
        justify-content: center;
        max-width: 1024px;
      
}
.section#experience .section#education{
   width: 50%;
   background-color: #fff;
   margin: 1em;
   border-radius: 5px;
 
   height: fit-content;
   padding: 1em 0 1em 0;
   
}
.section#experience .section#work-experience{
    padding: 1em 0 1em 0;
    width: 50%;
    background-color: #ffffff;;
    margin: 1em;
    border-radius: 5px;
    
    height: fit-content;
    
}

.section .container .nametag{
    display: flex  ;
    align-items: center;
    justify-content: flex-start;
        
}
.section .container .nametag .fa-solid{
    margin: 0 1em 0 1em;
    font-size: 2em;
}
.section#projects{
    display: none;
}
/* Form */
form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: flex-start;
        
    }
    .nav-links .menu-logo{
        display: none;
    }
    .nav-links .menu-center {
        display: flex;
        width: 60%;
        flex-direction: column;
    
    }
    .nav-links .menu-setting{
        flex-direction: column;
        
    }

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        margin-left: 10px;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    .skills-list {
        flex-direction: column;
        max-width:768px ;
    }
    .nav-links .menu-center {
    display: flex;
    width: 60%;
    justify-content: center;

}
.nav-links .menu-setting{
    display: flex;
    
}
.nav-links .menu-setting h4{
    display: flex;
    
}
.section#about .container{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  
}
.section#experience .containers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}
.section#experience {
    display: contents;
}
.section#experience .section#education{
    width:95%;
}
.section#experience .section#work-experience{
    width:95%;
}
.section#about .container #left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    
}

.section#about .container .hello{
    border: 1px solid #111;
    border-radius: 5px;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-bottom: .1rem;

}
.section#about .container .hello P{
    margin: 0;
    font-size: 1rem;
}

.section#about .container #left h1{
    font-size: 2.2rem;
    margin: 0
    ;
}

}

.language-switcher button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
   /* margin-left: 10px; */
   display: flex;
}

.language-switcher button:hover {
    text-decoration: underline;
}



/* Dark Mode */
body.dark-mode {
    background-color: #1a1a1a;
    color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode header {
    background-color: #111;
}

body.dark-mode .section {
    background-color: #222;
    color: #f4f4f4;
}

body.dark-mode .project-item {
    background-color: #333334;
    color: #d6d6d6;
    /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);*/
}

body.dark-mode footer {
    background-color: #111;
}

body.dark-mode .section#experience .section#education{
    background-color: #252728;
}
body.dark-mode .section#experience .section#work-experience{
background-color: #252728;
}

body.dark-mode form input,body.dark-mode form textarea{
    background-color:#333334 ;
}
/* ปุ่มสลับธีม */
.theme-switcher button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

.theme-switcher button:hover {
    text-decoration: underline;
}